
:root {
  --grid-size: 4;
  --box-shadow-color:rgba(3, 6, 37, 0.774);
  --highlight-fill-color:rgba(8, 50, 128, 0.3);
  --source-width: 500px;
}

/* Add background animation */
html {
  height:100%;
  background:linear-gradient(45deg, #0A1045, #ED33B9);
  color: white;
  font-family:sans-serif;
}

body {
  display:flex;
  flex-direction:column;
  font-weight:500;
  text-shadow: 0 .11em 5px var(--box-shadow-color);
  
}

.centered {
  margin:auto;
  max-width:90vw;
}

header {
  font-size: 4em;
  font-weight: 700;
  text-align: center;
}

.etch-container {
  width: var(--source-width);
  height: var(--source-width);
  
  max-height: 90vw;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
  
  margin: 1em auto 1em auto;

  border: 2px solid black;
  box-shadow: 0 10px 15px var(--box-shadow-color);
}

.pixel {
  border: 1px solid rgba(0, 0, 0, 0.192);
  background-color:rgba(0, 0, 0, 0);
  box-shadow: 1px 1px 2px black;
}

.btn {
  padding:5px;
  margin:5px;
  border-radius: 10px;
}

.options-group {
  width: 600px;
}

.option-container {
  display:flex;
  justify-content:space-around;
  margin:5px auto 5px auto;
  padding: 0 .6em 0 .6em;

  background-color:rgba(3, 6, 37, 0.4);

  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0 5px 15px var(--box-shadow-color);
}

.option-container:hover {
  background-color:var(--highlight-fill-color);
}

.option-title {
  padding-right: .5em;
  border-right: 2px solid black;
  font-weight: 600;
}

.radio-container {
  display:flex;
  align-items: center;
  margin:10px;
}

label {
  margin:5px;
}
#options-bottom {
  display:flex;
}
.slider-container {
  display:flex;
  align-items:center;
}

.slider {
  padding: 0;
}

.rgb-slider {
  height:2em;
}

.color-preview {
  height:100px;
  width: 100px;
}

.flex-column {
  flex-direction:column;
}