
.root {
  --grid-size: 4;
}

body {
  display:flex;
  flex-direction:column;
  background-color:lightcoral
}
.centered {
  margin:auto;
}

header {
  font-size: xx-large;
}

.etch-container {
  width: 500px;
  height: 500px;
  display: grid;
  grid-template-columns: repeat(var(--grid-size), 1fr);
  grid-template-rows: repeat(var(--grid-size), 1fr);
  border: 1px solid black;
}

.pixel {
  border: 1px solid rgba(0, 0, 0, 0.192);
  background-color:rgba(0, 0, 0, 0);
}

.btn {
  padding:5px;
  margin:5px;
  border-radius: 10px;
}

.option-container {
  display:flex;
}

.radio-container {
  display:flex;
  align-items: center;
  margin:10px;
}